/* vt-netlify-theme by videotoaster for videotoaster
   feel free to use if you want */

@font-face {
  font-family: "Share Tech Mono";
  src: url("/stuff/ShareTechMono-Regular.ttf") format("ttf"),
}

:root {
	--nc-font-sans: 'Share Tech Mono', monospace;
	--nc-font-mono: 'Share Tech Mono', monospace;
	--nc-tx-1: #FFFFFF;
	--nc-tx-2: #EEEEEE;
	--nc-bg-1: #000022;
	--nc-bg-2: #000044;
	--nc-bg-3: #0000FF;
	--nc-lk-1: #00FF00;
	--nc-lk-2: #00c200;
	--nc-lk-tx: #000000;
	--nc-ac-1: #00FF00;
	--nc-ac-tx: #000000;
}
