/* vt-netlify-theme by videotoaster for videotoaster
   feel free to use if you want */

@font-face {
  font-family: dm-mono;
  src: url(/fonts/DMMono-Regular.ttf);
}

:root {
    --nc-font-sans: dm-mono, monospace;
    --nc-font-mono: dm-mono, monospace;
    --nc-tx-1: #a57562;
    --nc-tx-2: #EEEEEE;
    --nc-bg-1: #222222;
    --nc-bg-2: #282828;
    --nc-bg-3: #88c0d0;
    --nc-lk-1: #a57562;
    --nc-lk-2: #88c0d0;
    --nc-lk-tx: #000000;
    --nc-ac-1: #5e81ac;
    --nc-ac-tx: #000000;
}
