body {
  background: #220000;
  color: #f8f267;
  font-family: sans-serif;
  margin: 0px;
}
div.header {
  padding: 8px;
  display: block;
  border-bottom: 3px solid yellow;
}
div.navbar {
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 3px solid yellow;
  margin-bottom: 4px;
}
div.navbar a {
  color: yellow;
  text-decoration: none;
  padding: 4px;
}
div.navbar a:hover {
  color: white;
}
div.navbar a.current {
  background: maroon;
  color: white;
}
a {
  color: yellow;
  font-weight: bold;
}
p.embiggen a {
  font-size: 12pt;
}
