html {
   background: #2a2a2a;
   color: white;
   font-family: 'Verdana', sans-serif;
}
body {
   background: #000000;
   width: 50%;
   margin: auto;
   margin-top: 15%;
   height: 25%;
   padding: 10px;
   border-radius: 3px;
}
.logo {
   height: 96px;
   margin-right: 10px;
}
h1, h2, h3, h4, h5, h6, p {
   margin: 0px;
}
.topalign {
   vertical-align: top;
}
.maxwidth {
   width: 100%;
}
input[type=text] {
   border: 2px solid white;
   color: white;
   background: black;
   font-family: monospace;
   transition: 0.25s;
}
input[type=text]:focus {
   border: 2px solid white;
   color: black;
   background: white;
}
input[type=password] {
   border: 2px solid white;
   color: white;
   background: black;
   font-family: monospace;
   transition: 0.25s;
}
input[type=password]:focus {
   border: 2px solid white;
   color: black;
   background: white;
}
button {
   padding: 5px;
   background: black;
   margin: 5px;
   color: white;
   font-family: 'Verdana', sans-serif;
   border: 2px solid white;
}
button:hover {
   background: white;
   color: black;
}
a {
   color: white;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.alignright {
   text-align: right;
}
