body {
	background: #1a1a1a;
	/* Keep the inherited background full size. */
	background-attachment: fixed; 
	background-size: cover;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container {
	width: 45%;
	height: 35%;
	box-shadow: 0 0 1rem 0 lime;	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: background;
	overflow: hidden;
}
