html {
   background: #2a2a2a;
   color: white;
   font-family: 'Verdana', sans-serif;
}
body {
   background: #000000;
   width: 50%;
   margin: auto;
   margin-top: 15%;
   height: 25%;
   padding: 10px;
   border-radius: 3px;
}
.logo {
   height: 96px;
   margin-right: 10px;
}
